 /* Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
    .navbar-text {
        color: rgb(2, 2, 3);
    }

.logo-image {
 width: 150px;
 height: 75px;
}
    .navbar-brand {
      padding-top: 20px;
    }
  }

  .navbar-container.solid{
    background-color: rgb(254, 253, 253);
    
  }

.container-fluid {
    padding-bottom: 10px
}

.me-3 {
    margin-top: 20px;
    margin-left: 25px;
    padding-left: 5px;
}

.header-modal {
  margin-top: 20px;
    margin-left: 25px;
    padding-left: 5px;
}
/* background pic */
.home-background {
  position: relative;
  height: 70vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-bottom: -10vh
}

.home-background img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.wave {
 position: absolute;
 bottom: 14%;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 90px;
}

.wave .shape-fill {
  fill: #5fe6f3;
}
/* greeting */
.hero-content {
  position: absolute;
  padding-bottom: 5%;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 3;
  text-shadow: 2px 2px 4px rgba(247, 239, 239, 0.5);
  background-color:rgba(147, 108, 108, 0.4);
  border-bottom-right-radius: 45%;
}

.hero-title {
color: rgb(12, 12, 13);
font-weight:bolder;
margin-top: 15%;
padding-left: 5%;
padding-right: 5%;
text-shadow: 2px 2px 4px rgba(247, 239, 239, 0.5);
}

.hero-description {
  color: rgb(12, 12, 13);
  font-size:larger
}

.services-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-row:auto;
  background-color: #5fe6f3;
  margin-top: 0px;
}

.services-container img {
  width: 25vw;
  height: 30vh;
  border-radius: 30%;
  border-style: solid;
  border-color: rgb(3, 10, 5);
  border-width: 3px;
  box-shadow: 0 0 35px rgba(3, 10, 5, 0.5);
}


.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.services-container p {
  margin-top: 5%
}

/* contact us modal */
.contact-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #5fe6f3;
}

.contact-us {
  margin-top: 12vh;
}

.body-modal {
  height: 42vh;
}

.form-align {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3vh;
  width: 15vw;
}


.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
  height: 20vh
}

.modal-submit {
  margin-top: 10px
}

/* Pages Content */

.pages-container {
  position: relative;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
}


.pages-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.pages-wave  svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 91px;
}

.pages-wave  .shape-fill {
  fill: #b3bbbb;
}

.page-wave-2 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.page-wave-2 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 130px;
}

.page-wave-2 .shape-fill {
  fill: #b3bbbb;
}
.pages-body {
  background: rgb(145,158,158);
background: linear-gradient(90deg, rgba(145,158,158,1) 7%, rgba(156,179,179,1) 51%, rgba(132,145,145,1) 100%);
}

.pages-header {
  position: absolute;
  padding-bottom: 5%;
  color: #f3f5f6;
  font-size: 50px;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.pages-header-pic {
  width: 100vw;
  height: 50rem;
  object-fit: cover;
}


.placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-right: 30rem;
  margin-bottom: 5rem;
}

.placeholder-pic {
  width: 30rem;
  height: 25rem;
}

.placeholder-pic2 {
  width: 30rem;
  height: 25rem;
}

.pages-hero-content {
  display: flex;
  flex-wrap: row;
  margin-bottom: 5rem;
  margin-right: 6rem;
  justify-content: center;
}

.hero-content-pic {
  margin-right: 1rem;
}

.pages-hero-content img {
  width: 30rem;
  height: 25rem;
}

.content-wrapper {
  width: 50rem;
}

.pages-hero-content h2 {
  text-align: center;
}

.pages-hero-content p {
  background-color: #bec2c2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.friend-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b3bbbb;
}
  
.bullet-points {
  width: 1.5rem;
  margin-left: 5rem;
}


.friend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #b3bbbb;
}

.friend-item {
  margin-right: 4rem;
  padding-left: 2rem
}

.friend-item img {
  height: 10rem;
  margin-right: 1rem; 
  background-color: #bac3c3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pool Remodel Page */

/* footer */
.footer {
  margin-bottom: 0;
  background-color: white;
}

.footer-content {
display: flex;
flex-direction: column;
align-items: center;
}

.footer-wave .shape-fill {
fill: #5fe6f3;
}

.logo-image-footer {
width: 100px;
}














/* Animations */

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.friend-item,
.bullet-list,
.placeholder-pic,
.placeholder-pic2,
.handshake-pic,
.pages-hero-content h2,
.pages-hero-content p {
  opacity: 0;
  animation: slideUpAnimation 0.8s ease-in-out forwards;
  
}


.friend-item {
  animation-delay: 0.5s;
}

.bullet-list {
  animation-delay: 0.3s;
}

.placeholder-pic,
.placeholder-pic2,
.handshake-pic,
.pages-hero-content h2,
.pages-hero-content p {
  animation-delay: 0.7s;
}